{%- extends "page.html" -%}

{%- block stylesheet -%}
<link rel="stylesheet" href='{{static_url("css/login.css")}}' type="text/css" />
{%- endblock -%}


{%- macro carousel_item(title, href, title_text, text, active="") -%}
<div class="carousel-item {{active}}">
  <a target="_blank" href="{{href}}" title="{{title}}">
    <div class="text-small">
      <ul type="square">
        <li class="text-dark"><small>{{ title.upper() }}</small></li>
      </ul>
    </div>
    <h3>{{ title_text }}</h3>
  </a>
  <p class="fs-5" style="color: #023d6b;">We are pleased to bring "Supercomputing in your browser".</p>
  <p class="fs-5"> {{ text }} <a target="_blank" href="{{href}}">Read more.</a> </p>
</div>
{%- endmacro -%}


{%- block main -%}

<div id="content" class="site-content">
		<div class="ast-container">
				<div data-elementor-type="wp-page" data-elementor-id="2502" class="elementor elementor-2502" data-elementor-post-type="page">
						<div class="elementor-inner">
				<div class="elementor-section-wrap">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-5db227e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5db227e" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b70b5bf" data-id="b70b5bf" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-8eac477 elementor-widget elementor-widget-spacer" data-id="8eac477" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-9dd6f38 elementor-widget elementor-widget-title" data-id="9dd6f38" data-element_type="widget" data-widget_type="title.default">
				<div class="elementor-widget-container">
					
		<div class="special-title" data-align="left" data-line="yes">
			<div>
									<h2 class="h2 special-title__h2" style="color: ">Services</h2>
													<h3 class="h3 special-title__h3" style="color: ">Computing Service</h3>
							</div>
		</div>
		
	
		
		
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-307ea527 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="307ea527" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2b06e514" data-id="2b06e514" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-fbe17f elementor-widget elementor-widget-heading" data-id="fbe17f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Jupyter-CoEC</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-40ebc8d5 elementor-widget elementor-widget-text-editor" data-id="40ebc8d5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Jupyter-CoEC provides access to Jupyter Notebook servers running on JSC world leading compute resources (JUWELS, JURECA, JUSUF, HDFML, DEEP, HDF-Cloud) and enables Exascale simulations in the future. Benefit from a wide range of notebooks and workflows tailored for multiphysics (especially combustion and green energy), and CFD simulations or simply bring your own simulation to success.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-99c8592 elementor-widget elementor-widget-spacer" data-id="99c8592" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-f9a74ae elementor-widget elementor-widget-button" data-id="f9a74ae" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
				<a class="elementor-button elementor-button-link elementor-size-sm" href="https://unity-jsc.fz-juelich.de/jupyter-oauth2-as/oauth2-authz-web-entry" target="_blank">
					<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
							<i aria-hidden="true" class="hm hm-arrow-right1"></i>			</span>
						<span class="elementor-button-text">Login</span>
					</span>
				</a>
				<a class="elementor-button elementor-button-link elementor-size-sm" href="https://judoor.fz-juelich.de/register" target="_blank">
                                        <span class="elementor-button-content-wrapper">
                                                <span class="elementor-button-icon elementor-align-icon-right">
                                			<i aria-hidden="true" class="hm hm-arrow-right1"></i>                   </span>
                                                <span class="elementor-button-text">Register</span>
                			</span>
                                </a>

		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3f8a968d" data-id="3f8a968d" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-30cc3856 elementor-widget elementor-widget-image" data-id="30cc3856" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img decoding="async" src="static/images/pages/login/simple_flame.png" class="attachment-full size-full wp-image-2846 entered lazyloaded" alt="" data-lazy-srcset="static/images/pages/login/simple_flame.png 590w, static/images/pages/login/simple_flame.png 300w" data-lazy-sizes="(max-width: 590px) 100vw, 590px" data-lazy-src="static/images/pages/login/simple_flame.png" data-ll-status="loaded" sizes="(max-width: 590px) 100vw, 590px" srcset="static/images/pages/login/simple_flame.png 590w, static/images/pages/login/simple_flame.png 300w" data-zoom-image="static/images/pages/login/simple_flame.png" width="590" height="400"><noscript><img decoding="async" width="590" height="400" src="static/images/pages/login/simple_flame.png" class="attachment-full size-full wp-image-2846" alt="" srcset="static/images/pages/login/simple_flame.png 590w, static/images/pages/login/simple_flame.png 300w" sizes="(max-width: 590px) 100vw, 590px" /></noscript>
														</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3078f4e elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3078f4e" data-element_type="section" data-settings="{&quot;_ha_eqh_enable&quot;:false}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-352ab83" data-id="352ab83" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-b243c76 elementor-widget elementor-widget-heading" data-id="b243c76" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Further Information (external)</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-374f2f5 elementor-widget elementor-widget-text-editor" data-id="374f2f5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>Jupyter enables cutting-edge workflows across scales in your browser – from Exascale simulations to industrial optimizations. This simplifies usage of complex codes and significantly reduces the overall time-to-solution.</p>					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-f77de64 elementor-widget elementor-widget-spacer" data-id="f77de64" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e9c7a6e elementor-widget elementor-widget-button" data-id="e9c7a6e" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
						<a class="elementor-button elementor-button-link elementor-size-sm" href="https://jupyter-jsc.fz-juelich.de/hub/links" target="_blank">
							<span class="elementor-button-content-wrapper">
								<span class="elementor-button-icon elementor-align-icon-right">
									<i aria-hidden="true" class="hm hm-arrow-right1"></i>			</span>
								<span class="elementor-button-text">Links</span>
							</span>
						</a>

                                                <a class="elementor-button elementor-button-link elementor-size-sm" href="https://status.jsc.fz-juelich.de/" target="_blank">
                                                        <span class="elementor-button-content-wrapper">
                                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                                        <i aria-hidden="true" class="hm hm-arrow-right1"></i>                   </span>
                                                                <span class="elementor-button-text">JSC Status</span>
                                                        </span>
                                                </a>


                                                <a class="elementor-button elementor-button-link elementor-size-sm" href="https://docs.jupyter-jsc.fz-juelich.de/github/FZJ-JSC/jupyter-jsc-notebooks/blob/documentation/index.ipynb" target="_blank">
                                                        <span class="elementor-button-content-wrapper">
                                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                                        <i aria-hidden="true" class="hm hm-arrow-right1"></i>                   </span>
                                                                <span class="elementor-button-text">Documentation</span>
                                                        </span>
                                                </a>
                                        </div>
                                </div>


				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-69fc2e0" data-id="69fc2e0" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d153804 elementor-widget elementor-widget-image" data-id="d153804" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
						<img decoding="async" src="static/images/pages/login/background.jpg" class="attachment-full size-full wp-image-2846 entered lazyloaded" alt="" data-lazy-srcset="static/images/pages/login/background.jpg 590w, static/images/pages/login/background.jpg 300w" data-lazy-sizes="(max-width: 590px) 100vw, 590px" data-lazy-src="static/images/pages/login/background.jpg" data-ll-status="loaded" sizes="(max-width: 590px) 100vw, 590px" srcset="static/images/pages/login/background.jpg 590w, static/images/pages/login/background.jpg 300w" data-zoom-image="static/images/pages/login/background.jpg" width="590" height="400"><noscript><img decoding="async" width="590" height="400" src="static/images/pages/login/background.jpg" class="attachment-full size-full wp-image-2846" alt="" srcset="static/images/pages/login/background.jpg 590w, static/images/pages/login/background.jpg 300w" sizes="(max-width: 590px) 100vw, 590px" /></noscript> 
</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
									</div>
			</div>
					</div>
			</div> <!-- ast-container -->
	</div>
{%- endblock -%}


{%- block script -%}
<script src='{{static_url("js/login.js", include_version=False) }}'></script>

<script>
$("nav [id$=nav-item]").removeClass("active");
$("#start-nav-item, #collapse-start-nav-item").addClass("active");

$("#btn-login").click(function () {
  var url = window.location.search;
  window.location.href = "/hub/oauth_login" + url;
});
</script>
{%- endblock -%}
